---
import themeHolder from 'styles/theme'

import { select } from 'projects/rpg/api/proxy'
import { T } from 'pubsub/messages'
import InfoTableCell from '@builder/widgets/table/InfoTableCell.astro'
import './InfoTable.css'

type IColumnDescriptor = {
  key: string
  label: string
  align?: 'left' | 'right' | 'center' | 'justify' | 'char'
  urlKey?: string
}

interface Props {
  block: string
  width: string
  descriptor: IColumnDescriptor[]
}

const { block, width = '100%', descriptor } = Astro.props

const rpgInfo =
  block !== 'properties'
    ? await select<IInfoRaces | IInfoAdvantages | IInfoEquipments>(T.rpgInfo, block)
    : undefined

const ids = Object.keys(rpgInfo).sort((id1, id2) =>
  rpgInfo[id1].name.localeCompare(rpgInfo[id2].name)
)
//console.log('rpgInfo', rpgInfo)

const theme = themeHolder.atom.get()
---

<div>
  <table class={theme} style={{ width }} id="infoTable">
    <thead>
      <tr>
        {descriptor.map((col) => <th>{col.label}</th>)}
      </tr>
    </thead>
    <tbody>
      {
        ids.map((id) => (
          <tr id={id}>
            {descriptor.map((col) => (
              <InfoTableCell align={col.align} url={rpgInfo[id][col.urlKey]}>
                {rpgInfo[id][col.key]}
              </InfoTableCell>
            ))}
          </tr>
        ))
      }
    </tbody>
  </table>
</div>
